/* Header Component */
.header {
  height: 80px;
  background-color: #63ffc7;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.menu {
  font-size: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #b14848;
  text-transform: uppercase;
  font-weight: bold;
}

.menu :hover {
  color: #0934cc;
}

.css-a5rdam-MuiGrid-root {
  margin-top: 0;
}

.right-profile {
  width: 60px;
  height: 60px;
  padding: 0;
}

/* Profile */
.profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
