body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-show {
  display: block;
  border-radius: 0;
  width: 100%;
  height: 650px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  color: #63ffc7;
  font-weight: bolder;
}
