.promotion-header {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.sm-promotion-header {
   width: 96%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.promotion-front-text {
   width: 200px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.promotion-front-text p {
   font-size: 25px;
   font-weight: bold;
   color: #0934cc;
   margin: 0;
}

.card-daily-drink {
   width: 100%;
   height: 500px;
   /* background-color: #D9D9D9; */
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.box-card-daily-drink {
   width: 360px;
   height: 90%;
   /* background-color: #B4B3C3; */
   display: flex;
   border-radius: 8px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.daily-card-img {
   width: 100%;
   height: 75%;
}

.daily-card-img img {
   width: 100%;
   height: 100%;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}

.daily-card-tilte {
   width: 100%;
   height: 12.50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.daily-card-tilte p {
   color: #B14848;
   font-size: 20px;
}

.daily-card-price-and-cart {
   width: 100%;
   height: 12.50%;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.daily-card-price {
   width: 40%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.daily-card-price p {
   font-size: 15px;
   font-weight: bold;
}

.dailt-card-add-to-cart {
   width: 60%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.add-to-card {
   width: 110px;
   height: 30px;
   border:  3px solid #797883;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.add-to-card p {
   font-size: 15px;
}