body {
   margin: 0;
   padding: 0;
}

.menu-body {
   width: 100%;
   height: 1080px;
   background-color: #fef5e7;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sm-menu-body {
   width: 45%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.sm-menu-body img {
   width: 100%;
   height: 100%;
}